<!DOCTYPE html>
<html ng-app="myApp">
<head>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<!-- <script src="App/JS/firstCtrl.js"></script>
<script src="App/JS/arrayCtrl.js"></script>
<script src="App/JS/httpCtrl.js"></script> -->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
</head>
<body>
<a href="App/Html/Application.html"> Click!!</a>
	<!-- <div style="background-color: {{myCol}}" ng-controller="myCtrl"
		align="center">
		<p>
			firstName: <input type="text" ng-model="firstName" />
		</p>
		<p>
			lastName: <input type="text" ng-model="lastName" />
		</p>
		<input style="background-color: {{myCol}}" ng-model="myCol"
			value="{{myCol}}">
		<p ng-bind="firstName"></p>
		<h1>
			helloo {{firstName + " " + lastName | uppercase}}
			</h>
			<h1>Welcome {{firstName | lowercase}}</h1>
	</div>
	<div ng-controller="arrayCtrl" align="center">
		<ul>
			<li ng-repeat="x in names | orderBy:'name' | filter:'i'">{{x}}</li>
		</ul>
		<h1>{{test | currency}}</h1>
	</div>
	<div ng-controller="arrayCtrl">
		<table>
			<thead>
				<tr>
					<th ng-click="orderByMe('name')">Name</th>
					<th ng-click="orderByMe('country')">country</th>
				</tr>
			</thead>
			<tr ng-repeat="x in names | orderBy:myOrderBy">
				<td>{{x.name}}</td>
				<td>{{x.country}}</td>
			</tr>
		</table> 
		<h1>URL is {{myUrl}}</h1>
	</div>
	<div ng-controller="httpCtrl">
	<h1 ng_repeat="x in data">{{x}}</h1>
	<h1><a href="App/Html/Application.html">Click me!</a></h1>
	</div> -->
</body>

</html>